name: SAST and DAST scan using GH Actions
on:
    push:
        branches: ['main']

jobs:
    sast-and-dast:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12' 

            - name: Set up Snyk
              uses: snyk/actions/setup@0.4.0
            
            - name: Install the dependencies
              run: pip install -r requirements.txt

            - name: Snyk OSS
              run: snyk test --sarif-file-output=snyk-oss.sarif
              env:
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true

            - name: Snyk Code (SAST)
              run: snyk code test --sarif-file-output=snyk-code.sarif
              env: 
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true
            
            - uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-code.sarif
            
            - uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-oss.sarif