name: SAST and DAST scan using GH Actions
on:
    push:
        branches: ['main']

jobs:
    sast-and-dast:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12' 

            - name: Set up Snyk
              uses: snyk/actions/setup@master
            
            - name: Install the dependencies
              run: pip install -r requirements.txt

            - name: Snyk monitor
              run: snyk test
              env:
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}