name: SAST and DAST scan using GH Actions
on:
    push:
        branches: ['main']

jobs:
    sast-and-dast:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12' 

            - name: Set up Snyk
              uses: snyk/actions/setup@0.4.0
            
            - name: Install the dependencies
              run: pip install -r requirements.txt
            
            # Snyk SAST

            - name: Snyk OSS
              run: snyk test --sarif-file-output=snyk-oss.sarif
              env:
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true

            - name: Snyk Code (SAST)
              run: snyk code test --sarif-file-output=snyk-code.sarif
              env: 
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true

            - name: Upload Snyk Code SARIF
              if: always()      
              uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-code.sarif

            - name: Upload Snyk OSS SARIF
              if: always()                  
              uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-oss.sarif
            
            # OWASP ZAP - DAST

            - name: Launch app
              run: |
                nohup python vuln_app.py &
                sleep 15           

            - name: ZAP Scan
              uses: zaproxy/action-baseline@v0.14.0
              continue-on-error: true
              with:
                token: ${{ secrets.ZAP }}
                docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
                target: 'http://172.17.0.1:5000'
                rules_file_name: '.zap/rules.tsv'
                cmd_options: '-a'

