name: SAST and DAST scan using GH Actions
on:
    push:
        branches: ['main']

jobs:
    sast-and-dast:
        runs-on: ubuntu-latest
        permissions:
            security-events: write
        steps:
            - name: Checkout the code
              uses: actions/checkout@v4
            
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: '3.12' 

            - name: Set up Snyk
              uses: snyk/actions/setup@0.4.0
            
            - name: Install the dependencies
              run: pip install -r requirements.txt
            
            # Snyk SAST

            - name: Snyk OSS
              run: snyk test --sarif-file-output=snyk-oss.sarif
              env:
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true

            - name: Snyk Code (SAST)
              run: snyk code test --sarif-file-output=snyk-code.sarif
              env: 
                SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
              continue-on-error: true

            - name: Upload Snyk Code SARIF
              if: always()      
              uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-code.sarif

            - name: Upload Snyk OSS SARIF
              if: always()                  
              uses: github/codeql-action/upload-sarif@v3
              with:
                sarif_file: snyk-oss.sarif
            
            # Dastardly by PortSwigger - DAST

            - name: Launch app
              run: |
                nohup python vuln_app.py &
                sleep 10
            
            - name: Run Dastardly
              continue-on-error: true          
              uses: PortSwigger/dastardly-github-action@main
              with:
                target-url: 'http://172.17.0.1:5000'
                output-filename: dastardly-report.xml   

            # Parse / publish the JUnit report
            - name: Publish Test Report
              if: always()
              uses: mikepenz/action-junit-report@v3
              with:
                report_paths: '**/dastardly-report.xml'
                require_tests: false  
